.header {
  background-color: $color-primary;
  color: white;
  padding: $main-spacing 0;
  margin-bottom: $main-spacing;

  &__content {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: $main-spacing;
    width: $main-spacing *2;
  }
}